
{% extends 'base.html'   %}
{% block content %}
      <div class="container alignt-items end"> <span class="btn-danger"><a href="{% url 'accounts:logout'%}">Logout</a></span></div>

      <div class="col"><h1 class="text-center text-white p-3 mb-2 bg-primary">Welcome To Your <i class="fa-solid fa-bolt"></i>iGSE Dashboard!</h1></div>
      
<div class="container"> 
    <div class="row">
        <div class="col">
            <!-- <div class="col-sm-12 col-md-6"> -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Submit Meter Reading</h5>
                <form action="{% url 'core:submit_reading' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="submissionDate">Submission Date</label>
                    {{ reading_form.submission_date }}
                    {{ reading_form.submission_date.errors }}
                    <small class="text-info">{{ reading_form.submission_date.help_text }}</small>
                    

                  </div>
                  <div class="form-group">
                    <label for="electricityDay">Electricity Meter Reading (Day)</label>
                    {{ reading_form.electricity_day }}
                    {{ reading_form.electricity_day.errors }}
                    <small class="text-info">{{ reading_form.electricity_day.help_text }}</small>
                  </div>
                  <div class="form-group">
                    <label for="electricityNight">Electricity Meter Reading (Night)</label>
                    {{ reading_form.electricity_night }}
                    {{ reading_form.electricity_night.errors }}
                    <small class="text-info">{{ reading_form.electricity_night.help_text }}</small>
                  </div>
                  <div class="form-group">
                    <label for="gas">Gas Meter Reading</label>
                    {{ reading_form.gas }}
                    {{ reading_form.gas.errors }}
                    <small class="text-info">{{ reading_form.gas.help_text }}</small>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        
        <div class="col">
        <div class="col">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your Usage</h5>
                <!-- Adding Bill here -->
                <h2>Latest Bill</h2>
                <p class="card-text">View and pay your latest energy bill using your energy credit.</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Bill Date</th>
                        <th scope="col">Bill Amount</th>
                        <th scope="col">Settled</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bill in bills %}
                    <tr>
                       
                        <td>{{ bill.bill_date | date:"d/m/Y" }}</td>
                        <td>£{{ bill.amount }}</td>
                        
                        {% if bill.paid %}
                          <td>Paid</td>
                        {% else %}
                          <td>Not Paid</td>
                          
                        {% endif %}
                          
                       
                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">Pay Bill</a>
               
            </div>
        <div class="container">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Credit</h5>
                <h4 class="badge bg-secondary">Your Available Credit:<span class="badge bg-success">400 EUR</span></h4>
                <p class="card-text">Top up your energy credit using a valid Energy Voucher Code (EVC).</p>
                
                <div class="mb-3"  > <input type="text" class="form-control" placeholder="Enter your EVC"></div>
                <a href="#" class="btn btn-primary">Top Up</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        <div>

</div>
        </div>

  {%  endblock content %}